BOT_TOKEN="8730656807:AAFEMpCqyDCCAxh382xW5B7UzPuDAgb_acQ"

ADMIN_IDS=7892805795


TERABOX_API_KEY=teamdev_jirvspco3y

YT_API_KEY=TD_Io4XmlQvyLYAlLNBnhUz6KW1URlTsdJL
YT_API_BASE=https://yt.teamdev.sbs/api/v1/
